/* Catppuccin Mocha Syntax Highlighting */

/* Background */ .bg { color: var(--text); background-color: var(--surface0); }
/* PreWrapper */ .chroma { color: var(--text); background-color: var(--surface0); }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: var(--red); background-color: var(--crust); }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color: var(--surface1); }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color: var(--overlay0); }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color: var(--overlay0); }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color: var(--mauve); }
/* KeywordConstant */ .chroma .kc { color: var(--mauve); }
/* KeywordDeclaration */ .chroma .kd { color: var(--mauve); }
/* KeywordNamespace */ .chroma .kn { color: var(--pink); }
/* KeywordPseudo */ .chroma .kp { color: var(--mauve); }
/* KeywordReserved */ .chroma .kr { color: var(--mauve); }
/* KeywordType */ .chroma .kt { color: var(--yellow); }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: var(--green); }
/* NameClass */ .chroma .nc { color: var(--yellow); }
/* NameConstant */ .chroma .no { color: var(--peach); }
/* NameDecorator */ .chroma .nd { color: var(--green); }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: var(--green); }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: var(--green); }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: var(--pink); }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* NameFunction */ .chroma .nf { color: var(--blue); }
/* NameFunctionMagic */ .chroma .fm { color: var(--blue); }
/* Literal */ .chroma .l { color: var(--peach); }
/* LiteralDate */ .chroma .ld { color: var(--green); }
/* LiteralString */ .chroma .s { color: var(--green); }
/* LiteralStringAffix */ .chroma .sa { color: var(--green); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--green); }
/* LiteralStringChar */ .chroma .sc { color: var(--green); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--green); }
/* LiteralStringDoc */ .chroma .sd { color: var(--green); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--green); }
/* LiteralStringEscape */ .chroma .se { color: var(--pink); }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--green); }
/* LiteralStringInterpol */ .chroma .si { color: var(--green); }
/* LiteralStringOther */ .chroma .sx { color: var(--green); }
/* LiteralStringRegex */ .chroma .sr { color: var(--green); }
/* LiteralStringSingle */ .chroma .s1 { color: var(--green); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--green); }
/* LiteralNumber */ .chroma .m { color: var(--peach); }
/* LiteralNumberBin */ .chroma .mb { color: var(--peach); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--peach); }
/* LiteralNumberHex */ .chroma .mh { color: var(--peach); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--peach); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--peach); }
/* LiteralNumberOct */ .chroma .mo { color: var(--peach); }
/* Operator */ .chroma .o { color: var(--sky); }
/* OperatorWord */ .chroma .ow { color: var(--pink); }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: var(--overlay0); }
/* CommentHashbang */ .chroma .ch { color: var(--overlay0); }
/* CommentMultiline */ .chroma .cm { color: var(--overlay0); }
/* CommentSingle */ .chroma .c1 { color: var(--overlay0); }
/* CommentSpecial */ .chroma .cs { color: var(--overlay0); }
/* CommentPreproc */ .chroma .cp { color: var(--pink); }
/* CommentPreprocFile */ .chroma .cpf { color: var(--green); }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: var(--red); }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr { color: var(--red); }
/* GenericHeading */ .chroma .gh { color: var(--blue); }
/* GenericInserted */ .chroma .gi { color: var(--green); }
/* GenericOutput */ .chroma .go { color: var(--subtext1); }
/* GenericPrompt */ .chroma .gp { color: var(--subtext1); }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color: var(--blue); }
/* GenericTraceback */ .chroma .gt { color: var(--red); }
/* GenericUnderline */ .chroma .gl { text-decoration:underline }
/* TextWhitespace */ .chroma .w { color: var(--surface0); }